{
    "extends": [
        "incredible"
    ],
    "rules":{
        "unicorn/expiring-todo-comments": 0,
        "unicorn/filename-case": 0,
        "censor/no-swear": 0,
        "no-magic-numbers": 0
    }
}
